USE [master]
GO
/****** Object:  Database [Airline]    Script Date: 24/05/2025 07:14:02 م ******/
CREATE DATABASE [Airline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Database1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Database1_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airline]
GO
/****** Object:  Table [dbo].[air]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[air](
	[airname] [nvarchar](50) NOT NULL,
	[fno] [varchar](20) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[tnumber] [char](20) NOT NULL,
 CONSTRAINT [PK_air_airname] PRIMARY KEY CLUSTERED 
(
	[airname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[user] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[tel] [char](11) NOT NULL,
	[idno] [char](20) NOT NULL,
	[pwd] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight](
	[fno] [varchar](20) NOT NULL,
	[departure] [varchar](50) NOT NULL,
	[destination] [varchar](50) NOT NULL,
	[date] [char](10) NOT NULL,
 CONSTRAINT [PK_flight_fno] PRIMARY KEY CLUSTERED 
(
	[fno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[idno] [char](20) NOT NULL,
	[pwd] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orno] [int] NOT NULL,
	[fno] [varchar](20) NOT NULL,
	[fclass] [char](10) NOT NULL,
	[date] [char](10) NOT NULL,
	[price] [int] NOT NULL,
	[idno] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 24/05/2025 07:14:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[fno] [varchar](20) NOT NULL,
	[fclass] [char](10) NOT NULL,
	[price] [char](10) NOT NULL,
	[ticknum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[air]  WITH CHECK ADD  CONSTRAINT [FK_air_fno] FOREIGN KEY([fno])
REFERENCES [dbo].[flight] ([fno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[air] CHECK CONSTRAINT [FK_air_fno]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_fno] FOREIGN KEY([fno])
REFERENCES [dbo].[ticket] ([fno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_fno]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_idno] FOREIGN KEY([idno])
REFERENCES [dbo].[customer] ([idno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_idno]
GO
USE [master]
GO
